

run_name: tcn2

output_dir: checkpoints/forecast/tcn2
overwrite_output_dir: true

wandb_project_name: "crypto-forecast"

# === Données ===
data_path: ../data/futures/dataset/
symbols: "BTCUSDT"
tgt_symbol: "BTCUSDT"
start_date: "2020-01-01"

# === Modèle ===

src_length: 3
tgt_length: 1
seg_length: 60
type: tcn2
input_dim: 4
hidden_dim: 128
output_dim: 4
num_layers: 7
conv_kernel: 3
dropout: 0.0
loss_function:
  type: rmspe
  epsilon: 1e-8
  use_close: true

# === Entraînement ===
do_eval: true
do_train: true
do_predict: true
per_device_train_batch_size: 512
per_device_eval_batch_size: 4096

max_steps: 10000
save_steps: 1000
eval_delay: 500
eval_steps: 500
eval_strategy: steps
prediction_loss_only: false
load_best_model_at_end: true
metric_for_best_model: loss
greater_is_better: false
disable_tqdm: false

ddp_find_unused_parameters: false
logging_steps: 100
save_total_limit: 3
report_to: ["wandb"]

dataloader_num_workers: 16
dataloader_drop_last: false
dataloader_pin_memory: true

learning_rate: 2.e-4
lr_scheduler_type: cosine
warmup_steps: 500

bf16: false
fp16: true

accelerator_config:
  split_batches: false
  dispatch_batches: false
  even_batches: true
  use_seedable_sampler: true
  non_blocking: false
